.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.text-filter {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.search-input {
  width: 300px;
  padding: 13px;
  border-radius: 7px;
  border-style: solid;
  border-color: #212A3E;
  border-width: 1px;
  background-color: #fcfeff;
}

.remove-button {
  margin-top: 10px;
  border-radius: 7px;
  border-color: #8b0d0d;
  border-style: solid;
  background-color: #f5dfdf;
  border-width: 1px;
  padding: 7px 0 7px 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  color: #8b0d0d;
  width: 100%;
}

.remove-button:hover {
  background-color: #c61414;
  border-color: #c61414;
  color: #f5dfdf;
}

.goto-top-button {
  margin-top: 10px;
  border-radius: 7px;
  border-color: #212A3E;
  border-style: solid;
  background-color: #F1F6F9;
  border-width: 1px;
  padding: 7px 0 7px 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  color: #212A3E;
  width: 100px;
  margin: 20px 0 40px 0;
}

.goto-top-button:hover {
  background-color: #193e8e;
  border-color: #193e8e;
  color: #F1F6F9;
}

.country-list {
  margin-top: 30px;
  flex-direction: column;
  user-select: none;
}

.country-item {
  margin-top: 10px;
  border-radius: 7px;
  border-color: #9BA4B5;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #212A3E;
  width: 310px;
}

.selected-country-item {
  margin-top: 10px;
  border-radius: 7px;
  border-color: #212A3E;
  border-style: solid;
  border-width: 1px;
  background-color: #212A3E;
  color: #d5dce9;
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 310px;

}

.latest-selected-country-item {
  margin-top: 10px;
  border-radius: 7px;
  border-color: #193e8e;
  border-style: solid;
  border-width: 1px;
  background-color: #193e8e;
  color: #d5dce9;
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 310px;

}

.country-emoji {
  font-size: 27px;
}

.country-info {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.country-name {
  font-size: 15px;
}

.country-capital {
  font-size: 10px;
  font-style: italic;
  margin-top: 5px;
}

.loading-container {
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  color: #212A3E;
  margin: 30px 0 0 0;
}