.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.text-filter {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.search-input {
  width: 300px;
  padding: 13px;
  border-radius: 7px;
  border-style: solid;
  border-color: #212A3E;
  border-width: 1px;
  background-color: #fcfeff;
}

.top-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 320px;
}

.remove-button {
  margin-top: 10px;
  border-radius: 7px;
  border-color: #8b0d0d;
  border-style: solid;
  background-color: #f5dfdf;
  border-width: 1px;
  padding: 7px 0 7px 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  color: #8b0d0d;
  width: 100%;
}

.remove-button:hover {
  background-color: #c61414;
  border-color: #c61414;
  color: #f5dfdf;
}

.show-selections-button {
  margin-top: 10px;
  border-radius: 7px;
  border-color: #212A3E;
  border-style: solid;
  background-color: #dfebf5;
  border-width: 1px;
  padding: 7px 0 7px 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  color: #212A3E;
  width: 100%;
}

.show-selections-button-disable {
  margin-top: 10px;
  border-radius: 7px;
  border-color: #979797;
  border-style: solid;
  background-color: #e4e4e4;
  border-width: 1px;
  padding: 7px 0 7px 0;
  cursor: not-allowed;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  color: #979797;
  width: 100%;
}

.show-selections-button:hover {
  background-color: #193e8e;
  border-color: #193e8e;
  color: #dfebf5;
}

.goto-top-button {
  margin-top: 10px;
  border-radius: 7px;
  border-color: #212A3E;
  border-style: solid;
  background-color: #F1F6F9;
  border-width: 1px;
  padding: 7px 0 7px 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  color: #212A3E;
  width: 100px;
  margin: 20px 0 40px 0;
}

.goto-top-button:hover {
  background-color: #193e8e;
  border-color: #193e8e;
  color: #F1F6F9;
}

.country-list {
  margin-top: 5px;
  margin-bottom: 30px;
  flex-direction: column;
  user-select: none;
}

.country-item {
  margin-top: 10px;
  border-radius: 7px;
  border-color: #9BA4B5;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #212A3E;
  width: 310px;
}

.country-item:hover {
  border-color: #193e8e;
  color: #193e8e
}

.selected-country-item {
  margin-top: 10px;
  border-radius: 7px;
  border-color: #212A3E;
  border-style: solid;
  border-width: 1px;
  background-color: #212A3E;
  color: #d5dce9;
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 310px;

}

.latest-selected-country-item {
  margin-top: 10px;
  border-radius: 7px;
  border-color: #193e8e;
  border-style: solid;
  border-width: 1px;
  background-color: #193e8e;
  color: #d5dce9;
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 310px;

}

.country-emoji {
  font-size: 27px;
  margin-left: 7px;
}

.country-group-emoji {
  font-size: 15px;
  margin-left: 7px;
}

.country-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.country-name {
  font-size: 15px;
}

.country-capital {
  font-size: 10px;
  font-style: italic;
  margin-top: 5px;
}

.loading-container {
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  color: #212A3E;
  margin: 30px 0 0 0;
}

.small-title {
  font-size: 13px;
}

.group-button {
  padding: 5px;
  border-radius: 7px;
  border-color: #212A3E;
  background-color: #F1F6F9;
  border-style: solid;
  border-width: 1px;
  width: 100%;
}

.group-button:hover {
  padding: 5px;
  border-radius: 7px;
  border-color: #193e8e;
  background-color: #193e8e;
  color: #F1F6F9;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.line-middle {
  color: #212A3E;
  width: 100%;
  margin-top: 20px;
}