.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.text-filter {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.search-input {
  width: 280px;
  padding: 10px;
  border-radius: 7px;
  border-style: solid;
  border-color: #212A3E;
  border-width: 1px;
  background-color: #fcfeff;
}

.country-list {
  margin-top: 30px;
  flex-direction: column;
  user-select: none;
}

.country-item {
  margin-top: 10px;
  border-radius: 7px;
  border-color: #9BA4B5;
  ;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}

.country-emoji {
  font-size: 27px;
}

.country-info {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #212A3E
}

.country-name {
  font-size: 15px;
}

.country-capital {
  font-size: 10px;
  font-style: italic;
  margin-top: 5px;
}

.loading-container {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}